.header {
  background: var(--black-900);
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.header img {
  width: 126px;
  height: 50px;
}

.container {
  width: 1200px;
}
